/*
Placeholder for custom user CSS

mainly to be overridden in profile/static/custom/custom.css

This will always be an empty file in IPython
*/

@import url('https://fonts.googleapis.com/css?family=Dosis:200|Inconsolata|Raleway');


/* Change code font */
.CodeMirror pre {
    font-family: 'Inconsolata', monospace;
    font-size: 11pt;
}

.cm-header {
    font-family: 'Dosis', sans-serif;
	color: red;
}

.cm-quote {
    font-family: 'Dosis', sans-serif;
	color: red;
}

div.output pre{
    font-family: 'Inconsolata', monospace;
    font-size: 11pt;
}

div.output_html td{
    font-family: 'Inconsolata', monospace;
    font-size: 11pt;
}

div.prompt{
    font-family: 'Inconsolata', monospace;
    font-size: 11pt;
}

div.completions select{
    font-family: 'Inconsolata', monospace;
    font-size: 11pt;
}

div.container pre{
    font-family: 'Inconsolata', monospace;
    font-size: 11pt;
}

div.tooltiptext pre{
    font-family: 'Inconsolata', monospace;
    font-size: 11pt;
}

div.input_area {
    border-color: #f7f7f7;
    background: #f7f7f7;
	box-shadow: 2px 2px 3px 0px rgba(145,145,145,1);
}

div.text_cell {
    max-width: 105ex; /* instead of 100%, */
}

div.text_cell_render {
    font-family: 'Raleway', sans-serif;
    font-size: 11pt;
    line-height: 145%; /* added for some line spacing of text. */
}

div.text_cell_render code{
    font-family: 'Inconsolata', sans-serif;
    font-size: 10pt;
}

div.text_cell_render h1,
div.text_cell_render h2,
div.text_cell_render h3,
div.text_cell_render h4,
div.text_cell_render h5,
div.text_cell_render h6 {
    font-family: 'Dosis', sans-serif;
	color: hsl(0, 0%, 13%);
}

div.text_cell_render h1 {
    font-size: 2em;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: underline;
}

div.text_cell_render h2 {
    font-size: 1.5em;
	text-transform: uppercase;
	text-decoration: underline;	
}

div.text_cell_render h3 {
    font-size: 1.17em;
	text-transform: lowercase;
}

.rendered_html pre,
.rendered_html code {
    font-size: medium;
}

.rendered_html ol {
    list-style:decimal;
    margin: 1em 2em;
}

.prompt.input_prompt {
    color: rgba(0,0,0,0.5);
}

.cell.command_mode.selected {
    border-color: rgba(0,0,0,0.1);
}

.cell.edit_mode.selected {
    border-color: rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px #f0f0f0;
}

div.output_scroll {
    -webkit-box-shadow: inset 0 2px 8px rgba(0,0,0,0.1);
    box-shadow: inset 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 2px;
}

#menubar .navbar-inner {
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
}

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
}

div#notebook_panel {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-top: none;
}

div#notebook {
    border-top: 1px solid rgba(0,0,0,0.15);
}

#menubar .navbar .navbar-inner,
.toolbar-inner {
    padding-left: 0;
    padding-right: 0;
}

#checkpoint_status,
#autosave_status {
    color: rgba(0,0,0,0.5);
}

#header {
    font-family: 'Dosis', sans-serif;
}

#notebook_name {
    font-weight: 600;
}